/* Start Footer */
.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #64b8f3;
  /* animation: footer-anim 7s infinite linear; */

  & .container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;

    & .about {
      width: 330px;

      & .a {
        color: white;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        & img {
          width: 65px;
        }
      }
      & p {
        color: white;
        line-height: 1.7;
        font-size: 17px;
      }
    }

    & .info {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-left: 25px;

      & h3 {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
      & .box {
        & li {
          margin-bottom: 20px;
          color: white;
          transition: var(--main-transition);
          & a {
            color: white;
            transition: var(--main-transition);
            &:hover {
              transition-delay: 0.2s;
              color: #567189;
            }
          }
        }
        &:not(:last-child) li:hover {
          transform: translateX(5px);
        }
      }
    }

    & > p {
      width: 100%;
      font-size: 18px;
      color: white;
      text-align: center;
      margin: 30px auto 0;
    }
    @media (width<=767px) {
      & > p {
        font-size: 17px;
      }
    }
    & p {
      & .own {
        color: #567189;
        font-weight: bold;
      }
    }
  }

  @media (width<= 991px) {
    & .container {
      flex-direction: column;
      & .about {
        margin: 0 auto;
      }
      & .info {
        margin-left: 0;
      }
      & > p {
        margin: 20px auto 0;
      }
    }
  }
}

@keyframes footer-anim {
  0%,
  100% {
    background-color: #64b8f3;
  }

  50% {
    background-color: var(--main-color);
  }
}

/* End Footer */

/* Icon Scroll to top  */
.UP {
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #246bfdc4;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0 11px;
  line-height: 40px;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--main-color);
    transform: translateY(-5px);
  }

  &.show {
    opacity: 1;
    z-index: 50;
  }
}
