/* Start Global Rules  */
:root {
    --main-color: #246bfd;
    --second-color: #7D7987;
    --main-padding: 100px;
    --main-transition: 0.4s;
    --section-background: #e5e5e533;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* start container  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End container  */
/* Start Component  */
/* start main-title */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
    animation: animation-color1 1s alternate infinite linear;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
    animation: animation-color2 1s infinite linear alternate;
}

@keyframes animation-color1 {
    0% {
        background-color: #333;
        width: 120px;
    }

    50% {
        background-color: var(--main-color);
        width: 130px;
    }

    100% {
        background-color: var(--second-color);
        width: 110px;
    }
}

@keyframes animation-color2 {
    0% {
        border-color: #333;
    }

    50% {
        border-color: var(--main-color);
    }

    100% {
        border-color: var(--second-color);
    }
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    width: 83%;
    line-height: 1.7;
    color: var(--second-color);
}

/* End main-title */

/* End Component  */
/* Add Scrollbar  */
html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    box-shadow: 0 0 7px #777 inset;
    background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
    transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */
/* Start Header  */
.header {
    background-color: #ffffff;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:767px) {
    .header .container {
        flex-direction: column;
    }
}

.header .logo {
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.header .logo img {
    width: 45px;
    position: relative;
    margin-right: 12px;
}

@media(max-width:767px) {
    .header .logo {
        height: 50px;
        margin-top: 5px;
    }

    .header .logo img {
        width: 33px;
        position: relative;
        margin-right: 3px;
    }
}

.header .nav-bar {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header .nav-bar .links {
    display: flex;
    margin-left: 20px;
}

.header .nav-bar .links li {
    overflow: hidden;
}

.header .nav-bar .links a {
    color: #233348;
    height: 72px;
    padding: 0 23px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: var(--main-transition);
}

.header .container .links li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--main-color);
    height: 2px;
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .container .links li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.header .container .links li>a:hover::before {
    left: 0;
}

@media(max-width:767px) {
    .header .nav-bar .links {
        margin-left: 0;
    }

    .header .nav-bar .links a {
        padding: 0 10px;
        font-size: 14px;
        height: 40px;
    }

    .header .nav-bar .links li:first-child a {
        padding-left: 0;
    }

    .header .nav-bar .links li:last-child a {
        padding-right: 0;
    }

}

.header .nav-bar .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-bar .bottom li {
    transition: var(--main-transition);
}

.header .nav-bar .bottom a {
    color: black;
    padding: 3px 13px;
    border-radius: 10px;
    transition: var(--main-transition);
}

@media(max-width:767px) {
    .header .nav-bar .bottom a {
        padding: 0 8px;
        font-size: 13px;
        border-radius: 6px;
    }

}

.header .nav-bar .bottom li:last-of-type a {
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 0 8px 0px rgb(0 0 0 / 15%);
}

.header .nav-bar .bottom li:first-of-type a:hover {
    color: var(--main-color);
}

.header .nav-bar .bottom li:last-of-type a:hover {
    background-color: #4368e1;
    color: #e6e6e6;
}

.header .nav-bar .bottom li:hover {
    transform: scale(0.9);
}

/* End Header  */

/* Start Landing  */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-4deg);
}


@media(max-width:767px) {
    .landing::before {
        transform: scaleY(-7deg);
        height: 95%;
    }
}

.landing .dot-img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 35px;
    left: 10px;
    z-index: -1;
    animation: landing-dot-anim 4s infinite alternate;
}

@keyframes landing-dot-anim {

    0%,
    100% {
        top: 35px;
    }

    50% {
        top: 300px;
    }
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    overflow: hidden;
}

.landing .container .text {
    flex: 1;
}

@media(max-width:991px) {
    .landing .container {
        flex-direction: column;
    }

    .landing .container .text {
        margin-top: 85px;
        text-align: center;
    }
}

.landing .container .text h1 {
    font-size: 38px;
    margin: 0;
    letter-spacing: -2px;
    margin-bottom: 7px;
}

@media(max-width:767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
}

.landing .container .text p {
    font-size: 21px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: var(--second-color);
    max-width: 500px;
}

@media(max-width:991px) {
    .landing .container .text p {
        margin: 15px auto;
    }
}

@media(max-width:767px) {
    .landing .container .text p {
        font-size: 18px;
    }
}

.landing .container .text a {
    display: block;
    width: fit-content;
    padding: 15px 50px;
    margin: 35px 0 0 5px;
    border-radius: 25px;
    background: var(--main-color);
    color: white;
    transition: var(--main-transition);
}

.landing .container .text a:hover {
    background-color: #4368e1;
    color: #e6e6e6;
    transform: scale(0.9);
}


@media(max-width:991px) {
    .landing .container .text a {
        margin: 35px auto 0;
    }
}

.landing .container .image {
    position: relative;
    animation: animation-lan-img 2s 1;
}

@keyframes animation-lan-img {
    from {
        right: -250px;
        opacity: 0;
    }

    to {
        opacity: 1;
        right: 0;
    }
}

.landing .container .image img {
    width: 500px;
    max-width: 100%;
    margin-top: 22px;
    margin-left: 15px;
}

@media(max-width:991px) {
    .landing .container .image img {
        margin-left: 0;
        margin-top: 47px;

    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: #0b46dc;
}

.landing .go-down i {
    font-size: 27px;
    animation: bouncing 1.5s linear infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* End Landing  */
/* Start Services  */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.services .image {
    position: relative;
}

.services .image img {
    position: absolute;
    max-width: 100%;
    top: 260px;
}

@media(max-width:767px) {
    .services .image {
        display: none;
    }

}

.services .container .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .services-container .box {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    padding: 25px;
    cursor: default;
    transition: var(--main-transition);
    position: relative;
    z-index: 1;
}

.services .services-container .box:hover {
    transform: translateY(-6px);
}

.services .services-container .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 15px;
    transition: var(--main-transition);
}

.services .services-container .box:hover::before {
    width: 100%;
    height: 100%;
}


@media(max-width:767px) {
    .services .services-container .box {
        text-align: center;
    }
}

.services .services-container .box img {
    max-width: 100%;
}

.services .services-container .box h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.services .services-container .box p {
    line-height: 1.7;
    color: var(--second-color);
}

/* End Services  */

/* Start Review  */
.review {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
}

.review .container {
    display: flex;
    gap: 100px;
}

.review .container .image {
    width: 500px;
    max-width: 100%;
    animation: img-animation 1s linear infinite alternate;
}

@keyframes img-animation {
    to {
        transform: translateY(0);
    }

    from {
        transform: translateY(-20px);
    }
}

@media(max-width:991px) {
    .review .container {
        flex-direction: column;
        gap: 50px;
    }

    .review .container .image {
        margin: auto;
    }
}

.review .container .text {
    margin-left: 20px;
}

.review .container .text .main-heading {
    text-align: left;
}

.review .container .text .main-heading p {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
}

.review .container .text a {
    display: block;
    width: fit-content;
    color: var(--main-color);
    padding: 12px 30px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--main-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
}

@media(max-width:991px) {
    .review .container .text {
        margin-left: 0px;
    }

    .review .container .text .main-heading {
        text-align: center;
    }

    .review .container .text a {
        margin: auto;
    }
}

.review .container .text a:hover {
    background-position: left bottom;
    color: white;
}


/* End Review  */

/* Start Download Apps  */
.download {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.download .dots-img {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: -1;
}

.download .left {
    top: 100px;
    left: 10px;
    animation: dot-anim-left 4s infinite alternate;
}

@keyframes dot-anim-left {

    0%,
    100% {
        top: 100px;
    }

    50% {
        top: 347px;
    }
}

.download .right {
    bottom: 100px;
    right: 10px;
    z-index: 1;
    animation: dot-anim-right 4s infinite alternate;
}

@keyframes dot-anim-right {

    0%,
    100% {
        bottom: 100px;
    }

    50% {
        bottom: 347px;
    }
}

.download .container {
    display: flex;
    gap: 100px;
}


@media(max-width:991px) {
    .download .container {
        flex-direction: column;
        gap: 50px;
    }
}

.download .container .text {
    margin-right: 20px;
}

.download .container .text .main-heading {
    text-align: left;
}

.download .container .text .main-heading p {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
}

.download .container .text a {
    display: block;
    width: fit-content;
    color: var(--main-color);
    padding: 12px 30px;
    padding-right: 41px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    font-weight: bold;
    transition: 0.5s;
}

.download .container .text a:hover {
    background-color: #4963b56e;
}

.download .container .text a img {
    width: 18px;
    position: absolute;
    margin: 0 5px;
    z-index: -1;
}

@media(min-width:992px) {

    .download .main-heading h2::before,
    .download .main-heading h2::after {
        left: 45%;
    }
}

@media(max-width:991px) {
    .download .container .text {
        margin-right: 0px;
    }

    .download .container .text .main-heading {
        text-align: center;
    }

    .download .container .text a {
        margin: auto;
    }
}

.download .container .image {
    width: 500px;
    max-width: 100%;
}

@media(max-width:991px) {
    .download .container .image {
        margin: auto;
    }
}

/* End Download Apps  */
/* Start Feedback */
.feedback {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
}

.feedback .container {
    display: flex;
    gap: 100px;
    padding: 45px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%)
}

.feedback .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #edf1ff;
    z-index: -1;
    border-radius: 20px;
}

@media(max-width:767px) {
    .feedback .container {
        flex-direction: column;
        gap: 40px;
        box-shadow: none;
    }

    .feedback .container::before {
        left: 15px;
        width: calc(100% - 30px);
    }

}

.feedback .info {
    width: 40%;
    text-align: center;
}



.feedback .info img {
    width: 170px;
    border-radius: 5px;
    border: 2px solid transparent;
    animation: info-img-anim 1.5s infinite;
}

@keyframes info-img-anim {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: var(--main-color);
    }
}

.feedback .info h4 {
    margin: 15px auto 0px;
    font-weight: bold;
    font-size: 19px;
}

.feedback .opinion {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width:767px) {

    .feedback .info,
    .feedback .opinion {
        width: 100%;
    }
}

.feedback .opinion p {
    font-size: 20px;
    line-height: 1.7;
    color: var(--second-color);
}

.feedback .scroll-icone {
    margin: 27px auto 0;
    text-align: center;
}

.feedback .scroll-icone i {
    font-size: 25px;
    padding: 5px 10px;
    color: var(--second-color);
    border-radius: 4px;
    transition: var(--main-transition);
}

.feedback .scroll-icone i:hover {
    background-color: #4d77ffa8;
    color: white;
}

.feedback .scroll-icone a:first-child i {
    margin-right: 10px;
}

.feedback .scroll-icone a:last-child i {
    margin-left: 10px;
}

/*  End Feedback */
/* Start Footer  */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #64b8f3;
    animation: footer-anim 2s infinite alternate;
}

@keyframes footer-anim {

    0%,
    100% {
        background-color: #64b8f3;
    }

    50% {
        background-color: var(--main-color);
    }
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}

.footer .container .about {
    width: 330px;
}


.footer .container .about a {
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.footer .container .about a img {
    width: 65px;
}

.footer .container .about p {
    color: white;
    line-height: 1.7;
    font-size: 17px;
}


.footer .container .info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 25px;
}

.footer .container .info h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.footer .container .info .box li {
    margin-bottom: 20px;
    color: white;
    transition: var(--main-transition);
}

.footer .container .info .box:not(:last-child) li:hover {
    transform: translateX(5px);

}

.footer .container .info .box li a {
    color: white;
    transition: var(--main-transition);
}

.footer .container .info .box li a:hover {
    transition-delay: 0.2s;
    color: #567189;
}

.footer .container>p {
    width: 100%;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 35px auto 0;
}

@media(max-width:991px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .container .about {
        margin: 0 auto;
    }

    .footer .container .info {
        margin-left: 0;
    }

    .footer .container>p {
        margin: 0;
    }
}

.footer .container p span {
    color: #567189;
    font-weight: bold;
}

/* End Footer */