/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* start container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End container  */

/* Add Scrollbar  */
html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px 1px #eef0f2 inset;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */

/* Start Prescription Content Doctor   */

.prescription {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}

.prescription .main-title {
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 40px;
}
.prescription .head {
  display: flex;
  gap: 30px;
}
.prescription .head .comment {
  width: 60%;
  /* background-color: #fefefe; */
  background-color: #fefcfc;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
}
.prescription .head .comment h3 {
  font-size: 21px;
  margin: 0;
  /* color: var(--second-color); */
}
.prescription .head .comment p {
  line-height: 1.6;
  font-size: 18px;
  color: var(--second-color);
  margin-top: 10px;
  margin-bottom: 0;
}
.prescription .head .medical {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  border-radius: 12px;
  padding: 20px;
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .prescription .head {
    flex-direction: column;
  }
  .prescription .head .comment,
  .prescription .head .medical {
    width: 100%;
    padding: 20px;
  }
}
.prescription .head .medical .text h3 {
  font-size: 20px;
  color: white;
  margin-bottom: 35px;
}
.prescription .head .medical .text a {
  display: block;
  width: fit-content;
  padding: 10px 15px;
  background-color: white;
  border-radius: 7px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}
.prescription .head .medical .text a:hover {
  box-shadow: 0 0 13px 2px white;
}

.prescription .head .medical img {
  width: 100px;
  max-width: 100%;
  height: 100px;
  animation: medical-img 3s infinite ease-in-out;
}

@keyframes medical-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.prescription .write-pre {
  margin-top: 45px;
}
.prescription .write-pre h2 {
  /* color: var(--second-color); */
  font-size: 23px;
  margin-bottom: 23px;
}
.prescription .write-pre .info-doc {
  /* background-color: #fefefe; */
  background-color: #fefcfc;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  gap: 20px;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  border-radius: 12px;
}
.prescription .write-pre .info-doc .text1 h3 {
  font-size: 21px;
  color: var(--second-color);
  margin-bottom: 0;
}
.prescription .write-pre .info-doc .text1 p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
.prescription .write-pre .info-doc .text2 {
  width: 40%;
}

.prescription .write-pre .info-doc .text2 p {
  font-size: 18px;
  font-weight: bold;
}
.prescription .write-pre .info-doc .text2 span {
  color: var(--second-color);
}
.prescription .write-pre .add-mdecine {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  background-color: #fffdfdcc;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
}

@media (max-width: 767px) {
  .prescription .write-pre .add-mdecine {
    width: 100%;
    padding: 20px;
  }
  .prescription .write-pre .info-doc {
    flex-direction: column;
    padding: 20px;
    gap: 0;
    text-align: center;
  }
  .prescription .write-pre .info-doc .text1,
  .prescription .write-pre .info-doc .text2 {
    width: 100%;
  }
}

.prescription .write-pre .add-mdecine .textt h3 {
  font-size: 21px;
  color: var(--second-color);
  margin-bottom: 25px;
}
.prescription .write-pre .add-mdecine .textt button {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
  margin-bottom: 10px;
}
.prescription .write-pre .add-mdecine .textt button:hover {
  box-shadow: 0 0 8px 1px var(--main-color);
}

.prescription .write-pre .add-mdecine img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  animation: mdecine-img 3s infinite ease-in-out;
}

@keyframes mdecine-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.prescription .medicine {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .prescription .medicine {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}

.prescription .medicine .box {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #fefcfc;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .prescription .medicine .box {
    padding: 10px 12px;
  }
}

.prescription .medicine .box .cont1 h3 {
  font-size: 20px;
}
.prescription .medicine .box .cont1 p,
.prescription .medicine .box .cont2 p {
  font-size: 18px;
  font-weight: bold;
}
.prescription .medicine .box .cont1 p span,
.prescription .medicine .box .cont2 p span {
  color: var(--second-color);
}

.prescription .medicine .box .cont2 {
  width: 50%;
}

.prescription .medicine .box .cont3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  width: 100%;
  row-gap: 15px;
  margin-bottom: 10px;
}

.prescription .medicine .box .cont3 .time {
  background-color: var(--section-background);
  color: var(--second-color);
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;
  margin: 0;
  height: fit-content;
  font-size: 18px;
}

.prescription .write-pre textarea {
  width: 100%;
  resize: none;
  border: none;
  height: 200px;
  padding: 29px;
  outline: none;
  display: block;
  margin: 35px auto;
  border-radius: 10px;
  font-size: 19px;
  /* background-color: #ffffffb3; */
  background-color: #fefcfc;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  caret-color: var(--main-color);
  transition: var(--main-transition);
}
.prescription .write-pre textarea:focus {
  box-shadow: 0 0 5px 0 var(--main-color);
}
.prescription .write-pre textarea::placeholder {
  transition: opacity 0.5s;
}
.prescription .write-pre textarea:focus::placeholder {
  opacity: 0;
}
.prescription .write-pre .saveAll {
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding: 15px 20px;
  border-radius: 12px;
  margin: 35px auto;
  display: block;
  width: 40%;
  cursor: pointer;
  transition: var(--main-transition);
}
.prescription .write-pre .saveAll:hover {
  box-shadow: 0 0 8px 1px var(--main-color);
}
@media (max-width: 767px) {
  .prescription .write-pre .saveAll {
    width: 70%;
  }
}

/* Start Add Medicine PopUp   */

.add-medicine .A-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 103;
  display: none;
}

.add-medicine .popup-add {
  /* width: 310px; */
  width: 600px;
  position: absolute;
  top: 150%;
  left: 50%;
  /*  */
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  z-index: 104;
  border-radius: 15px;
  padding: 0px 40px 50px;
  /* padding: 30px; */
  background-color: #fefefe;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .add-medicine .popup-add {
    width: 355px;
    padding: 0px 25px 30px;
  }
}
/* event */
.active .A-overlay {
  display: block;
}
.active .popup-add {
  transition: all var(--main-transition) ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
/*  */

.add-medicine .popup-add img {
  width: 200px;
  max-width: 100%;
  height: 200px;
  aspect-ratio: 1/1;
  margin: auto;
  display: block;
  animation: mdecineUp-img 2.5s infinite ease-in-out;
}

@keyframes mdecineUp-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.add-medicine .popup-add .formAdd div {
  margin: 0px;
}

.add-medicine .popup-add .formAdd div #Select,
.add-medicine .popup-add .formAdd div input {
  outline: none;
  border: 2px solid #e9edf9;
  padding: 15px 20px;
  width: 100%;
  border-radius: 7px;
  margin-top: 15px;
  caret-color: var(--main-color);
  transition: var(--main-transition);
}

.add-medicine .popup-add .formAdd div #Select:focus,
.add-medicine .popup-add .formAdd div input:focus {
  box-shadow: 0 0 5px 0 var(--main-color);
}
.add-medicine .popup-add .formAdd div input::placeholder {
  transition: opacity 0.5s;
}
.add-medicine .popup-add .formAdd div input:focus::placeholder {
  opacity: 0;
}

.add-medicine .popup-add .formAdd div #Select {
  color: var(--second-color);
  padding: 8px 20px;
  cursor: pointer;
}
.add-medicine .popup-add .formAdd div.btn {
  display: flex;
  gap: 30px;
}

.add-medicine .popup-add .formAdd div.btn button {
  width: 25%;
  height: 45px;
  padding: 10px;
  margin: 16px 0 0;
  outline: none;
  border: none;
  border-radius: 7px;
  color: var(--second-color);
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}
.add-medicine .popup-add .formAdd div.btn button:hover {
  background-color: var(--main-color);
  color: white;
}
/*  */
.addShedule {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin: 17px 0;
  margin: 15px 0 !important;
}
.addShedule .T {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-background);
  border-radius: 9px;
  font-size: 18px;
  padding: 15px;
  width: 48%;
}
@media (max-width: 767px) {
  .addShedule .T {
    width: 100%;
  }
}
.addShedule .T p {
  margin: 0;
  color: var(--second-color);
}
.addShedule .T i {
  /* color: var(--second-color); */
  color: #246bfd82;
  cursor: pointer;
  padding: 3px 8px;
  font-size: 15px;
  border-radius: 3px;
  transition: var(--main-transition);
}

.addShedule .T:hover i {
  background-color: #f0f0f0;
  color: var(--main-color);
}

/*  */
.add-medicine .popup-add .formAdd .buttons {
  display: flex;
  justify-content: space-around;
  margin: 35px auto 0px;
  text-align: center;
}
.add-medicine .popup-add .formAdd .buttons button {
  padding: 10px 40px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  transition: var(--main-transition);
}
.add-medicine .popup-add .formAdd .buttons button#cancel {
  background-color: red;
}
.add-medicine .popup-add .formAdd .buttons button#cancel:hover {
  box-shadow: 0 0 8px 1px red;
}
.add-medicine .popup-add .formAdd .buttons button#save {
  background-color: var(--main-color);
}
.add-medicine .popup-add .formAdd .buttons button#save:hover {
  box-shadow: 0 0 8px 1px var(--main-color);
}

/* End Add Medicine PopUp   */

/* End Prescription Content Doctor   */
