/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* start container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End container  */

/* Add Scrollbar  */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px #777 inset;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */
/* Start Header  */
.header {
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
  }
}

.header .logo {
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.header .logo img {
  width: 45px;
  position: relative;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .header .logo {
    height: 50px;
    margin-top: 5px;
  }

  .header .logo img {
    width: 33px;
    position: relative;
    margin-right: 3px;
  }
}

.header .nav-bar {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* mobile icone */
.header .nav-bar .icon {
  width: 40px;
  height: 31px;
  cursor: pointer;
  display: none;
  position: relative;
  border-radius: 5px;
  background-color: #fefcfc;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 10%);
}

.header .nav-bar .icon span {
  height: 4px;
  width: 75%;
  position: absolute;
  left: 5px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 0.4s;
}
.header .nav-bar .icon span:first-child {
  top: 4px;
}
.header .nav-bar .icon span:nth-child(2) {
  top: 13px;
}
.header .nav-bar .icon span:last-child {
  top: 22px;
}

.anemy1 {
  opacity: 0;
}
.anemy2 {
  top: 14px !important;
  transform: rotate(45deg);
}
.anemy3 {
  top: 14px !important;
  transform: rotate(-45deg);
}

/* mobile icone */

.header .nav-bar .links {
  display: flex;
  margin-left: 20px;
}

.header .nav-bar .links li {
  overflow: hidden;
}

.header .nav-bar .links a {
  color: #233348;
  height: 72px;
  padding: 0 23px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition);
}

.header .container .links li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--main-color);
  height: 2px;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .container .links li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.header .container .links li > a:hover::before {
  left: 0;
}

.header .nav-bar .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav-bar .bottom li {
  transition: var(--main-transition);
}

.header .nav-bar .bottom a {
  color: black;
  padding: 3px 13px;
  border-radius: 10px;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .header .nav-bar {
    position: relative;
    padding: 12px 0;
  }

  .header .nav-bar .icon {
    display: block;
  }

  .header .nav-bar .links {
    margin-left: 0;
    position: absolute;
    width: 95%;
    /* height: 100vh; */
    top: 56px;
    left: -14px;
    text-align: center;
    flex-direction: column;
    background-color: #fefcfc;
    z-index: 50;
    box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 10%);
    left: -100%;
    transition: var(--main-transition);
  }
  .visible {
    left: -14px !important;
  }
  .header .nav-bar .bottom li a {
    font-size: 16px;
  }
}

.header .nav-bar .bottom li:last-of-type a {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 15%);
}

.header .nav-bar .bottom li:first-of-type a:hover {
  color: var(--main-color);
}

.header .nav-bar .bottom li:last-of-type a:hover {
  background-color: #4368e1;
  color: #e6e6e6;
}

/* End Header  */
/* Start Join Us  */
.join {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--section-background);
}

.join .head-loading {
  width: fit-content;
  text-align: center;
  margin: auto;
  position: relative;
}

.join .head-loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  z-index: -1;
  background-color: var(--main-color);
  border-radius: 3px;
  animation: loading 6s linear infinite alternate;
}

@keyframes loading {
  0%,
  100% {
    left: 0;
  }

  50% {
    left: calc(100% - 50px);
  }
}

.join h2 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 auto 60px;
  color: var(--main-color);
  line-height: 1;
  mix-blend-mode: color-dodge;
}

.join .container {
  display: flex;
  gap: 100px;
  padding: 5px 15px;
  overflow: hidden;
}

.join .container .box {
  text-align: center;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 10%);
  padding: 10px 40px;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  position: relative;
  background-color: white;
}
/*  */
.join .container .box div {
  position: relative;
  z-index: 1;
}

.join .box:hover {
  transform: scale(0.9);
  box-shadow: 0 2px 12px 2px rgb(0 0 0 / 10%);
}

.join .container .box:first-child {
  animation: box-doctor 0.75s linear 1;
}

@keyframes box-doctor {
  0% {
    left: -445px;
  }

  100% {
    left: 0;
  }
}

.join .container .box:last-child {
  animation: box-patient 0.75s linear 1;
}

@keyframes box-patient {
  0% {
    right: -445px;
  }

  100% {
    right: 0;
  }
}

.join .container img {
  width: 500px;
  margin: auto;
  max-width: 100%;
}

.join .container h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 15px auto 43px;
  color: var(--main-color);
}

.join .container .box:last-child h2 {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .join .container {
    flex-direction: column-reverse;
    gap: 60px;
  }

  .join .container .box {
    margin: auto;
  }
}

/* End Join Us  */
/* Start Footer  */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #64b8f3;
  animation: footer-anim 7s infinite linear;
}

@keyframes footer-anim {
  0%,
  100% {
    background-color: #64b8f3;
  }

  50% {
    background-color: var(--main-color);
  }
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.footer .container .about {
  width: 330px;
}

.footer .container .about a {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.footer .container .about a img {
  width: 65px;
}

.footer .container .about p {
  color: white;
  line-height: 1.7;
  font-size: 17px;
}

.footer .container .info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 25px;
}

.footer .container .info h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.footer .container .info .box li {
  margin-bottom: 20px;
  color: white;
  transition: var(--main-transition);
}

.footer .container .info .box:not(:last-child) li:hover {
  transform: translateX(5px);
}

.footer .container .info .box li a {
  color: white;
  transition: var(--main-transition);
}

.footer .container .info .box li a:hover {
  transition-delay: 0.2s;
  color: #567189;
}

.footer .container > p {
  width: 100%;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 35px auto 0;
}

@media (max-width: 991px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .container .about {
    margin: 0 auto;
  }

  .footer .container .info {
    margin-left: 0;
  }

  .footer .container > p {
    margin: 0;
  }
}

.footer .container p span {
  color: #567189;
  font-weight: bold;
}

/* End Footer */
