/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Add Scrollbar  */
html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px 1px #eef0f2 inset;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */
/* Start About Patient  */
.see-patient {
  padding-top: 60px;
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}

.anim-img {
  position: absolute;
  width: 150px;
  right: 0px;
  opacity: 0;
  z-index: -1;
  /* animation: anim-img 4s infinite linear; */
}

@keyframes anim-img {
  0% {
    opacity: 1;
    right: 0px;
  }

  100% {
    opacity: 1;
    right: 100%;
  }
}

.see-patient .main-heading {
  text-align: center;
}

.see-patient .main-heading {
  font-size: 35px;
  margin: 0;
  font-weight: bold;
  color: var(--main-color);
}

.see-patient .container .box {
  width: 70%;
  padding: 35px 40px;
  margin: 50px auto 0;
  border-radius: 16px;
  background-color: #fefefe;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 10%);
}

.see-patient .container .box .head {
  display: flex;
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 3px solid #e5e5e5;
  gap: 25px;
}

@media (max-width: 767px) {
  .see-patient .main-heading {
    font-size: 30px;
  }
  .see-patient .container .box {
    width: 100%;
    padding: 25px;
    gap: 20px;
  }
  .see-patient .container .box .head {
    gap: 0px;
  }
}

@media (768 <=width <=991px) {
  .see-patient .container .box {
    padding: 30px;
  }
  .see-patient .container .box .head {
    gap: 0px;
  }
}

.see-patient .container .box .head img {
  max-width: 105px;
  border-radius: 50%;
  margin-right: 30px;
  border: 3px solid transparent;
  animation: animation-avatar 1.5s infinite;
}

@keyframes animation-avatar {
  0% {
    border-color: transparent;
  }

  100% {
    border-color: var(--main-color);
  }
}

.see-patient .container .box .head h2 {
  font-size: 28px;
  color: var(--main-color);
}

.see-patient .container .box .comment h3 {
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: var(--second-color);
}

.see-patient .container .box .comment p {
  line-height: 1.7;
  color: var(--second-color);
  font-size: 19px;
  margin-top: 10px;
}

.see-patient .container .box .button {
  display: flex;
  justify-content: space-between;
  margin: 25px 45px 0;
}

.see-patient .container .box .button button {
  display: block;
  border-radius: 8px;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 900;
  color: #fefcfc;
  cursor: pointer;
  outline: none;
  border: none;
  transition: var(--main-transition);
}

@media (width <=767px) {
  .see-patient .container .box .button {
    margin: 25px 0px 0px;
  }
  .see-patient .container .box .button button {
    padding: 10px 30px;
    font-size: 18px;
  }
}

@media (768px <= width <=991px) {
  .see-patient .container .box .button {
    margin: 25px 20px 0;
  }
}

.see-patient .container .box .button .decline {
  background-color: #f00000;
}

.see-patient .container .box .button .decline:hover {
  box-shadow: 0 0 8px 2px #f00000;
}

.see-patient .container .box .button .accept {
  background-color: var(--main-color);
}

.see-patient .container .box .button .accept:hover {
  box-shadow: 0 0 8px 2px var(--main-color);
}

@media (max-width: 767px) {
  .see-patient .container .box .head img {
    max-width: 85px;
    margin-right: 20px;
  }

  .see-patient .container .box .head h2 {
    font-size: 24px;
  }
}

/* End About Patient */
