/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* start container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End container  */

/* Add Scrollbar  */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px #777 inset;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */
/* Start Header  */
.header {
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
  }
}

.header .logo {
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.header .logo img {
  width: 45px;
  position: relative;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .header .logo {
    height: 50px;
    margin-top: 5px;
  }

  .header .logo img {
    width: 33px;
    position: relative;
    margin-right: 3px;
  }
}

.header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

/* mobile icone */
.header .nav-bar .icon {
  width: 40px;
  height: 31px;
  cursor: pointer;
  display: none;
  position: relative;
  border-radius: 5px;
  background-color: #fefcfc;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 10%);
}

.header .nav-bar .icon span {
  height: 4px;
  width: 75%;
  position: absolute;
  left: 5px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 0.4s;
}
.header .nav-bar .icon span:first-child {
  top: 4px;
}
.header .nav-bar .icon span:nth-child(2) {
  top: 13px;
}
.header .nav-bar .icon span:last-child {
  top: 22px;
}

.anemy1 {
  opacity: 0;
}
.anemy2 {
  top: 14px !important;
  transform: rotate(45deg);
}
.anemy3 {
  top: 14px !important;
  transform: rotate(-45deg);
}

/* mobile icone */

.header .nav-bar .links {
  display: flex;
  margin-left: 20px;
}

.header .nav-bar .links li {
  overflow: hidden;
}

.header .nav-bar .links a {
  color: #233348;
  height: 72px;
  padding: 0 23px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition);
}

.header .container .links li:not(.p-link) > a::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--main-color);
  height: 2px;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .container .links li:not(.p-link) > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.header .container .links li > a:hover::before {
  left: 0;
}

.header .container .links .patient-links {
  position: absolute;
  top: calc(100% + 20px);
  background-color: white;
  padding-top: 15px;
  padding-bottom: 18px;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 10%);
  border-bottom: 2px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  transition: var(--main-transition);
}

.header .container .links li:nth-child(3):hover .patient-links {
  z-index: 100;
  opacity: 1;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  .header .container .links .patient-links {
    top: calc(60% + 20px);
    right: -135px;
  }
  .header .container .links li:nth-child(3):hover .patient-links {
    top: calc(52% + 1px);
  }
}

.header .container .links .patient-links li a {
  padding: 0;
  height: 40px;
  margin: 10px 35px 0px 12px;
  transition: var(--main-transition);
}

.header .container .links .patient-links li a:hover {
  color: var(--main-color);
  transform: translateX(4px);
}

.header .container .links .patient-links li a i {
  color: var(--main-color);
  margin-right: 7px;
  margin-bottom: 3px;
}

@media (max-width: 767px) {
  .header .nav-bar {
    position: relative;
    padding: 12px 0;
  }

  .header .nav-bar .icon {
    display: block;
  }

  .header .nav-bar .links {
    margin-left: 0;
    position: absolute;
    width: 65%;
    /* height: 100vh; */
    top: 65px;
    left: -14px;
    text-align: center;
    flex-direction: column;
    background-color: #fefcfc;
    z-index: 50;
    box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 10%);
    left: -100%;
    transition: var(--main-transition);
  }
  .visiblle {
    left: -14px !important;
  }
}

.header .nav-bar .Profile-toltab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav-bar .Profile-toltab > li {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .nav-bar .Profile-toltab > li .note {
  position: relative;
}

.header .nav-bar .Profile-toltab > li .note > i {
  color: var(--main-color);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.header .nav-bar .Profile-toltab > li .note > span {
  position: absolute;
  top: -9px;
  right: -9px;
  padding: 9px;
  border-radius: 50%;
  background-color: red;
  font-weight: bold;
  font-size: 15px;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
}

.header .nav-bar .Profile-toltab > li .note .content-note {
  position: absolute;
  top: calc(100% + 50px);
  right: 0;
  width: 350px;
  padding: 20px 15px;
  background-color: white;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 10%);
  border-radius: 8px;
  opacity: 0;
  z-index: -1;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .header .nav-bar .Profile-toltab > li .note .content-note {
    width: 270px;
  }
}

.show {
  top: calc(100% + 18px) !important;
  opacity: 1 !important;
  z-index: 100 !important;
}

@media (max-width: 767px) {
  .show {
    top: calc(100% + 20px) !important;
  }
}

.header .nav-bar .Profile-toltab > li .content-note .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.header .nav-bar .Profile-toltab > li .content-note .head h2 {
  font-size: 20px;
  margin: 0;
  color: var(--second-color);
}

.header .nav-bar .Profile-toltab > li .content-note .head i {
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.header .nav-bar .Profile-toltab > li .content-note .head i:hover {
  background-color: #f0f8ff;
}

.header .nav-bar .Profile-toltab > li .note .content-note .content {
  font-size: 17px;
  text-align: center;
  color: var(--second-color);
}

.header .nav-bar .Profile-toltab li > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header .nav-bar .Profile-toltab li .visible {
  opacity: 1;
  z-index: 100;
  top: calc(100% + -7px);
}

@media (max-width: 767px) {
  .header .nav-bar .Profile-toltab li .visible {
    top: calc(100% + 1px);
  }
}

.header .nav-bar .tol-tab {
  position: absolute;
  right: 6%;
  top: calc(100% + 25px);
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  opacity: 0;
  z-index: -1;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .header .nav-bar .tol-tab {
    padding: 25px 15px;
    right: 2%;
  }
}

.header .nav-bar .tol-tab > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #e9e6e6;
}

.header .nav-bar .tol-tab > div img {
  max-width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}

.header .nav-bar .tol-tab > div h2 {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  color: var(--second-color);
}

.header .nav-bar .tol-tab .tol-links li {
  transition: var(--main-transition);
}

.header .nav-bar .tol-tab .tol-links li:hover {
  transform: translateX(5px);
}

.header .nav-bar .tol-tab .tol-links li:not(:last-child) {
  margin: 30px 0;
}

.header .nav-bar .tol-tab .tol-links li a {
  font-size: 17px;
  font-weight: bold;
  color: var(--second-color);
}

.header .nav-bar .tol-tab .tol-links li:not(:last-child):hover a {
  color: #a09a9a;
}

.header .nav-bar .tol-tab .tol-links li button {
  border: none;
  outline: none;
  background-color: transparent;
  color: red;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.header .nav-bar .tol-tab .tol-links li button i,
.header .nav-bar .tol-tab .tol-links li a i {
  margin-right: 10px;
  color: var(--main-color);
  font-weight: bold;
}

/* End Header  */

/* popup logout */
.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 101;
  display: none;
}

.popup .popup-content {
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  z-index: 102;
  border-radius: 15px;
  padding: 40px 50px;
  text-align: center;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  transition: var(--main-transition);
}
/* event */
.active .overlay {
  display: block;
}
.active .popup-content {
  transition: all var(--main-transition) ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/*  */
.popup .popup-content h2 {
  color: var(--second-color);
}
.popup .popup-content .pop-btn {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.popup .popup-content .pop-btn button {
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.popup .popup-content .pop-btn button:first-child {
  background-color: var(--main-color);
  color: white;
  transition: var(--main-transition);
}
.popup .popup-content .pop-btn button:first-child:hover {
  box-shadow: 0 0 7px 1px var(--main-color);
}

.popup .pop-btn button:last-child {
  background-color: red;
  color: white;
  transition: var(--main-transition);
}
.popup .pop-btn button:last-child:hover {
  box-shadow: 0 0 7px 1px red;
}

/*Start Icon Scroll to top  */
.UP {
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #246bfdc4;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0 11px;
  line-height: 40px;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.UP:hover {
  background-color: var(--main-color);
}

.UP.Showw {
  opacity: 1;
  z-index: 50;
}
