/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* start container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End container  */

/* Add Scrollbar  */
html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px 1px #eef0f2 inset;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */

/* Start Book Appointment  */

.book-appoint {
  padding-top: 50px;
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}

.book-appoint .main-title {
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 40px;
}

.book-appoint .container .book-details {
  width: 80%;
  margin: 30px auto 0;
}
@media (width<= 600px) {
  .book-appoint .container .book-details {
    width: 100%;
  }
}
@media (601<=width<= 767px) {
  .book-appoint .container .book-details {
    width: 85%;
  }
}
@media (768px<= width<=991px) {
  .book-appoint .container .book-details {
    width: 100%;
  }
}

/* Start info section  */
.book-appoint .book-details .info {
  background-color: #ffffffb3;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  border-radius: 15px;
  padding: 40px;
}
.book-appoint .book-details .info .head {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}
.book-appoint .book-details .info .head img {
  width: 115px;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 50px;
  border: 2px solid transparent;
  animation: anim-img-avatar 1.5s infinite;
}

@keyframes anim-img-avatar {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: var(--main-color);
  }
}
.book-appoint .book-details .info .head .name-spe h2 {
  font-size: 27px;
  margin-bottom: 15px;
  color: var(--second-color);
}
.book-appoint .book-details .info .head .name-spe span {
  display: flex;
  font-size: 20px;
  color: var(--second-color);
}
.book-appoint .book-details .info .head .name-spe span i {
  margin-right: 7px;
  color: var(--main-color);
}

.book-appoint .book-details .info .details {
  display: flex;
  justify-content: space-around;
  margin: 35px 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-appoint .book-details .info .details {
    margin: 35px 35px;
  }
}

.book-appoint .book-details .info .details .box {
  width: 10rem;
  box-shadow: 4px 4px 8px 0px rgb(0 0 0 /10%) inset;
  color: var(--main-color);
  text-align: center;
  border-radius: 15px;
  background-color: #f2f2f236;
}
.book-appoint .book-details .info .details .box h4 {
  font-size: 17px;
  margin: 15px 0 10px;
  font-weight: 500;
  color: var(--second-color);
}
.book-appoint .book-details .info .details .box span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.book-appoint .book-details .info .about h3 {
  font-size: 23px;
  color: var(--second-color);
  margin-bottom: 10px;
}
.book-appoint .book-details .info .about p {
  font-size: 19px;
  line-height: 1.7;
  color: var(--second-color);
  margin: 0;
}
@media (width<=600px) {
  .book-appoint .book-details .info .head img {
    width: 90px;
    height: 90px;
    margin-right: 1rem;
  }
  .book-appoint .book-details .info .details {
    margin: 20px 0px;
  }
}
@media (max-width: 767px) {
  .book-appoint .book-details .info {
    padding: 20px 15px;
  }
  .book-appoint .book-details .info .head .name-spe h2 {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .book-appoint .book-details .info .details .box {
    width: 28%;
    border-radius: 10px;
  }
  .book-appoint .book-details .info .details .box h4 {
    font-size: 16px;
  }
  .book-appoint .book-details .info .details .box span {
    font-size: 17px;
  }
}
/* Start Select date and time section  */
.book-appoint .book-details .select-d-t h2 {
  color: var(--main-color);
  font-size: 27px;
  margin-bottom: 30px;
}
.book-appoint .select-d-t .date-time {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
@media (max-width: 767px) {
  .book-appoint .select-d-t .date-time {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-appoint .select-d-t .date-time {
    gap: 30px;
  }
}
.book-appoint .select-d-t .date-time .clender h3 {
  font-size: 22px;
  margin: 0;
  color: var(--second-color);
}
/*  */
.book-appoint .select-d-t .date-time .clender .t-cle {
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  background-color: #ffffffb3;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
}
.select-d-t .date-time .clender .t-cle .headd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 20px;
}
.clender .t-cle .headd .current-date {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.clender .t-cle .headd .slider {
  display: flex;
  gap: 5px;
}
.clender .t-cle .headd .slider i {
  width: 35px;
  height: 35px;
  margin: 0 1px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  cursor: pointer;
  color: #878787;
  /* border: 1px solid #e9edf9; */
  transition: var(--main-transition);
}
.select-d-t .date-time .clender .t-cle .headd .slider i:last-child {
  margin-right: -10px;
}
.select-d-t .date-time .clender .t-cle .headd .slider i:hover {
  background-color: #f2f2f2;
}

.calender ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.calender ul li {
  width: calc(100% / 7);
  position: relative;
}

.calender .weeks li {
  font-weight: 500;
  font-size: 17px;
}

.calender .days {
  margin-top: -5px;
  padding-bottom: 10px;
}
.calender .days li {
  margin-top: 25px;
  cursor: pointer;
  z-index: 1;
}
/*  */
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}

.calender .days li::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: var(--main-transition);
}

.calender .days li:not(.active):hover::before {
  background-color: #f2f2f2;
}
/*  */
.days li.active::before {
  background-color: var(--main-color);
}

.book-appoint .select-d-t .date-time .hour h3 {
  font-size: 22px;
  margin: 0;
  color: var(--second-color);
}
.book-appoint .select-d-t .date-time .hour .time {
  height: 90%;
  /*  */
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  background-color: #ffffffb3;
  border-radius: 10px;
  padding: 30px;
  margin-top: 15px;
}

.book-appoint .select-d-t .date-time .hour ul li {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: -10px;
}
.book-appoint .select-d-t .date-time .hour ul li p {
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.time li p.active,
.date-time .hour ul li p:hover {
  color: #fff !important;
  background-color: var(--main-color);
}

/* start problem description */
.book-appoint .problem-des {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;
}
.book-appoint .problem-des label {
  width: 100%;
  font-size: 22px;
  color: var(--second-color);
  font-weight: bold;
  margin-bottom: 15px;
}
.book-appoint .problem-des textarea {
  width: 100%;
  resize: none;
  border: none;
  height: 220px;
  padding: 29px;
  outline: none;
  border-radius: 10px;
  font-size: 19px;
  background-color: #ffffffb3;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  caret-color: var(--main-color);
  transition: var(--main-transition);
}
.book-appoint .problem-des textarea:focus {
  box-shadow: 0 0 5px 0 var(--main-color);
}
.book-appoint .problem-des textarea::placeholder {
  transition: opacity 0.5s;
}
.book-appoint .problem-des textarea:focus::placeholder {
  opacity: 0;
}

.book-appoint .book-now {
  display: block;
  text-align: center;
  width: 50%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  margin: 35px auto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  transition: var(--main-transition);
}
.book-appoint .book-now:hover {
  background-color: #4368e1;
  box-shadow: 0 0 10px 0px var(--main-color);
}
@media (width<= 600px) {
  .book-appoint .select-d-t .date-time .hour .time {
    padding: 20px;
  }
  .book-appoint .book-now {
    width: 80%;
  }
}
/* Start Book Appointment  */
