/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Add Scrollbar  */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px #777 inset;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */

/* Start List Patient  */
.list-patient {
  padding-top: 60px;
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
  min-height: 100vh;
}

.list-patient .main-heading {
  text-align: center;
}

.list-patient .main-heading h2 {
  font-size: 35px;
  margin: 0;
  font-weight: bold;
  /* letter-spacing: 3px; */
  color: var(--main-color);
}

@media (max-width: 767px) {
  .list-patient .main-heading h2 {
    font-size: 32px;
    letter-spacing: 0px;
  }
}

.list-patient .main-heading p {
  margin: 8px 0 50px;
  font-size: 20px;
  color: var(--second-color);
}
.list-patient .main-heading p span {
  font-weight: bold;
}

.list-patient .container {
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  background-color: white;
  padding: 55px 20px 20px;
  border-radius: 15px;
  margin: auto;
  position: relative;
}

.list-patient .container .filter {
  position: absolute;
  top: -49px;
  right: 27px;
}

.list-patient .container .filter i {
  font-size: 24px;
  margin: 5px 5px 0 0;
  color: var(--main-color);
}

.list-patient .container .filter select {
  cursor: pointer;
  outline: none;
  border-radius: 7px;
  border: 2px solid #cbcfdd;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: bold;
  color: var(--second-color);
  transition: var(--main-transition);
}

.list-patient .container .filter select:focus {
  box-shadow: 0 0 5px 0 var(--main-color);
  outline: none;
}

.list-patient .container table {
  width: 100%;
  border-spacing: 0px;
}

.list-patient .container table thead tr {
  background-color: var(--section-background);
}

.list-patient .container table thead tr td {
  padding: 20px;
  font-size: 19px;
  font-weight: bold;
  color: var(--second-color);
  border-bottom: 2px solid lightgrey;
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-patient .main-heading h2 {
    font-size: 33px;
    letter-spacing: 1px;
  }

  .list-patient .container {
    padding: 45px 15px 15px;
  }

  .list-patient .container .filter i {
    font-size: 20px;
  }

  .list-patient .container .filter select {
    padding: 0px 25px;
    font-size: 15px;
  }

  .list-patient .container table thead tr td {
    padding: 10px;
    font-size: 16px;
  }
}

.list-patient .container table thead tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.list-patient .container table thead tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list-patient .container table tbody tr {
  position: relative;
  z-index: 1;
}

.list-patient .container table tbody tr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 2px);
  width: 0;
  background-color: aliceblue;
  z-index: -1;
  transition: 0.5s;
}

.list-patient .container table tbody tr:hover::before {
  width: 100%;
}

.list-patient .container table tbody tr td {
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #e5e5e5;
}

.list-patient .container table tbody tr td:first-child {
  padding-left: 0px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.list-patient .container table tbody tr td img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.list-patient .container table tbody tr td:nth-child(5) span {
  display: block;
  font-size: 14px;
  color: #c7c4c4;
  margin-top: 3px;
}

.list-patient .container table tbody tr td:nth-child(6) span {
  background-color: #00f260;
  color: white;
  font-weight: bold;
  padding: 0px 8px;
  font-size: 15px;
  border-radius: 6px;
}

.list-patient .container table tbody tr td:nth-child(6) span.des {
  background-color: #f00000;
  padding: 0px 9px;
}

.list-patient .container table tbody tr td:nth-child(6) span.pen {
  background-color: #b2b2b2;
  padding: 0px 10px;
}

.list-patient .container table tbody tr td:last-child i {
  padding: 2px 3px;
  background-color: #246bfd9e;
  color: white;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-patient .container table tbody tr td {
    padding: 8px 10px;
    font-size: 14px;
  }

  .list-patient .container table tbody tr td:first-child {
    margin-top: 8px;
  }

  .list-patient .container table tbody tr td img {
    max-width: 45px;
  }

  .list-patient .container table tbody tr td:nth-child(5) span {
    font-size: 12px;
  }
}

.list-patient .container table tbody tr:hover td:last-child i {
  animation: animation-see-icon 0.4s linear infinite;
}

@keyframes animation-see-icon {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(7px);
  }
}

.list-patient .container table tbody tr td:last-child i:hover {
  animation-play-state: paused;
}

/* When open mobile app */

@media (max-width: 767px) {
  .list-patient > .container {
    display: none;
  }
}

@media (min-width: 768px) {
  .list-patient .for-mobile {
    display: none;
  }
}

.list-patient .for-mobile {
  margin-top: 60px;
  margin-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
}

.list-patient .for-mobile .img-back {
  max-width: 90%;
  position: absolute;
  z-index: -1;
}

.list-patient .for-mobile .container {
  width: fit-content;
  margin: auto;
  background-color: transparent;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 10%);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.list-patient .for-mobile .imge {
  max-width: 75px;
  border-radius: 50%;
  margin: 15px 0 0px;
  animation: for-mobile-img 1.5s ease-in-out infinite;
}

@keyframes for-mobile-img {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}

.list-patient .for-mobile div {
  margin: 10px 0 20px;
}

.list-patient .for-mobile div h2 {
  font-size: 30px;
  margin-bottom: 50px;
  color: var(--second-color);
  padding-top: 30px;
  border-top: 2px solid #e5e5e5;
}

.list-patient .for-mobile a {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: var(--main-transition);
}

.list-patient .for-mobile a:hover {
  transform: scale(0.9);
}

/* End mobile */

/* End List Patient  */
