/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Add Scrollbar  */
::-webkit-scrollbar {
  width: 7px;
  /*  */
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 7px 1px #eef0f2 inset;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */

/* Start schedule of Doctor  */

.list-schedule {
  padding-top: 50px;
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
  min-height: 100vh;
}

.list-schedule .select-day {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border-radius: 10px;
  background-color: var(--section-background);
}

.list-schedule .select-day div {
  width: 30%;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  color: var(--second-color);
  transition: var(--main-transition);
}

@media (width<=767px) {
  .list-schedule .select-day {
    overflow-x: auto;
    background-color: transparent;
  }
  .list-schedule .select-day div {
    width: max-content;
  }
}

.list-schedule .select-day div p {
  color: var(--main-color);
  margin: 6px 0 0;
  transition: var(--main-transition);
}

.list-schedule .select-day div:hover {
  background-color: var(--main-color) !important;
}
.list-schedule .select-day div:hover > p,
.list-schedule .select-day div:hover {
  color: white !important;
}

.list-schedule .list-patient-Sch {
  /* width: calc(100% - 65px); */
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  transition: var(--main-transition);
}

.list-schedule .list-patient-Sch .list-patient .header-patient {
  display: flex;
  gap: 15px;
}

.list-schedule .list-patient-Sch .list-patient .header-patient h3 {
  font-size: 21px;
  color: var(--second-color);
  margin-bottom: 0;
  width: 25%;
}

.list-schedule .list-patient-Sch .list-patient .box {
  display: flex;
  gap: 15px;
  margin: 15px 0;
  background-color: #e5e5e573;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  transition: var(--main-transition);
}

.list-schedule .list-patient-Sch .list-patient .box:hover {
  transform: scale(1.03);
  background-color: #246bfd3d;
}

.list-schedule .list-patient-Sch .list-patient .box .image {
  display: flex;
  align-items: center;
  width: 25%;
}

.list-schedule .list-patient-Sch .list-patient .box .image img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.list-schedule .list-patient-Sch .list-patient .box p {
  width: 25%;
}

.list-schedule .list-patient-Sch .list-patient .box p:last-of-type {
  width: 20%;
}

.list-schedule .list-patient-Sch .list-patient .box .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.list-schedule .list-patient-Sch .list-patient .box .button button {
  display: block;
  padding: 8px 15px;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  transition: 0.5s;
}

@media (width<= 991px) {
  .list-schedule .select-day {
    gap: 20px;
  }

  .list-schedule .list-patient-Sch {
    padding: 20px;
  }

  .list-schedule .list-patient-Sch .title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .list-schedule .list-patient-Sch .list-patient .header-patient {
    gap: 10px;
  }
  .list-schedule .list-patient-Sch .list-patient .header-patient h3 {
    font-size: 18px;
  }
  .list-schedule .list-patient-Sch .list-patient .box {
    gap: 10px;
    padding: 15px 10px;
    font-size: 15px;
  }
  .list-schedule .list-patient-Sch .list-patient .box .image img {
    max-width: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .list-schedule .list-patient-Sch .list-patient .box .button button {
    padding: 6px;
    border-radius: 6px;
  }
}

.list-schedule .list-patient-Sch .list-patient .box .button button:hover {
  background-color: var(--main-color);
  color: white;
}
.list-schedule
  .list-patient-Sch
  .list-patient
  .box
  .button
  button:last-of-type:hover {
  background-color: #f00000;
  border-color: #f00000;
}

/* When open mobile app */

@media (max-width: 767px) {
  .list-schedule .list-patient-Sch .list-patient {
    overflow-x: scroll;
  }
  .list-schedule .list-patient-Sch .list-patient .header-patient,
  .list-schedule .list-patient-Sch .list-patient .box {
    width: 686px;
  }
}

/* Start See More PopUp   */

.seeMore-up .S-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 103;
  display: none;
}

.seeMore-up .popup-seeMore {
  /* width: 310px; */
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  z-index: 104;
  border-radius: 15px;
  /* padding: 40px 50px; */
  padding: 30px;
  background-color: #fefefe;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  transition: var(--main-transition);
}
/* event */
.active .S-overlay {
  display: block;
}
.active .popup-seeMore {
  transition: all var(--main-transition) ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/*  */
.seeMore-up .popup-seeMore .pop-head {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e5e5e5;
  gap: 40px;
  padding-bottom: 21px;
}
.seeMore-up .popup-seeMore .pop-head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.seeMore-up .popup-seeMore .pop-head h2 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 10px;
}

.seeMore-up .popup-seeMore .comment h3 {
  font-size: 20px;
  color: var(--second-color);
}
.seeMore-up .popup-seeMore .comment p {
  line-height: 1.6;
  font-size: 18px;
  color: var(--second-color);
}

@media (width<=767px) {
  .seeMore-up .popup-seeMore {
    width: 330px;
    padding: 20px;
  }
  .seeMore-up .popup-seeMore .pop-head {
    gap: 15px;
    padding-bottom: 10px;
  }
  .seeMore-up .popup-seeMore .pop-head img {
    width: 90px;
    height: 90px;
  }
  .seeMore-up .popup-seeMore .pop-head h2 {
    font-size: 20px;
  }
}

.seeMore-up .popup-seeMore .time {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.seeMore-up .popup-seeMore .time p {
  font-weight: bold;
  color: var(--second-color);
}
.seeMore-up .popup-seeMore .time p i {
  color: var(--main-color);
  margin-right: 7px;
}

.seeMore-up .popup-seeMore button {
  position: absolute;
  top: -18px;
  right: -25px;
  border: none;
  background-color: transparent;
}
.seeMore-up .popup-seeMore button i {
  color: aliceblue;
  font-size: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-transition);
}

.seeMore-up .popup-seeMore button i:hover {
  color: #e4e6eb;
}

/* End See More PopUp   */

/* Start No Schedule  */
.no-app {
  text-align: center;
  margin-top: 60px;
  display: none;
  transition: var(--main-transition);
}
.no-app h2 {
  color: var(--second-color);
  font-size: 28px;
  margin: 0;
}
.no-app img {
  width: 550px;
  max-width: 100%;
  animation: animation-img 3s infinite ease-in-out;
}

@keyframes animation-img {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* End No schedule  */

/* End schedule of Doctor  */
