/* Start Global Rules  */
:root {
  --main-color: #246bfd;
  --second-color: #7d7987;
  --main-padding: 100px;
  --main-transition: 0.4s;
  --section-background: #e5e5e533;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Add Scrollbar  */
::-webkit-scrollbar {
  width: 7px;
  /*  */
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 7px 1px #eef0f2 inset;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3055cb;
}

/* End Scrollbar  */

/* End Global Rules  */
/* ******************************* */

/* Start completed of Doctor  */

.list-completed {
  padding-top: 60px;
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}

.list-completed .links-appointments {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--section-background);
}

.list-completed .links-appointments div {
  width: 30%;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  transition: 0.5s;
}

.list-completed .links-appointments div:hover {
  background-color: var(--main-color);
  color: white;
}

.list-completed .links-appointments div.com-appoint {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 767px) {
  .list-completed .links-appointments div {
    border-radius: 10px;
    padding: 14px 0px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-completed .links-appointments div {
    font-size: 17px;
  }
}

.list-completed .list-doctor-Com {
  /* width: calc(100% - 60px); */
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
}

.list-completed .list-doctor-Com .list-doctor .header-doc {
  display: flex;
  gap: 15px;
}

.list-completed .list-doctor-Com .list-doctor .header-doc h3 {
  font-size: 21px;
  color: var(--second-color);
  margin-bottom: 0;
  width: 25%;
}

.list-completed .list-doctor-Com .list-doctor .box {
  display: flex;
  gap: 15px;
  margin: 15px 0;
  background-color: #e5e5e573;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  transition: var(--main-transition);
}

.list-completed .list-doctor-Com .list-doctor .box:hover {
  transform: scale(1.03);
  background-color: #246bfd3d;
}

.list-completed .list-doctor-Com .list-doctor .box .image {
  display: flex;
  align-items: center;
  width: 25%;
}

.list-completed .list-doctor-Com .list-doctor .box .image img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.list-completed .list-doctor-Com .list-doctor .box p {
  width: 25%;
}

.list-completed .list-doctor-Com .list-doctor .box p:last-of-type {
  width: 20%;
}

.list-completed .list-doctor-Com .list-doctor .box .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.list-completed .list-doctor-Com .list-doctor .box .button .a,
.list-completed .list-doctor-Com .list-doctor .box .button a {
  display: block;
  padding: 8px 15px;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  transition: 0.5s;
}

.list-completed .list-doctor-Com .list-doctor .box .button .a {
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

@media (width<= 991px) {
  .list-completed .list-doctor-Com {
    padding: 20px;
  }

  .list-completed .list-doctor-Com .title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .list-completed .list-doctor-Com .list-doctor .header-doc {
    gap: 10px;
  }
  .list-completed .list-doctor-Com .list-doctor .header-doc h3 {
    font-size: 18px;
  }
  .list-completed .list-doctor-Com .list-doctor .box {
    gap: 10px;
    padding: 15px 10px;
    font-size: 15px;
  }
  .list-completed .list-doctor-Com .list-doctor .box .image img {
    max-width: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .list-completed .list-doctor-Com .list-doctor .box .button .a,
  .list-completed .list-doctor-Com .list-doctor .box .button a {
    padding: 6px;
    border-radius: 6px;
  }
}

.list-completed .list-doctor-Com .list-doctor .box .button .a:hover,
.list-completed .list-doctor-Com .list-doctor .box .button a:hover {
  background-color: var(--main-color);
  color: white;
}

/* When open mobile app */
@media (max-width: 767px) {
  .list-completed .list-doctor-Com .list-doctor {
    overflow-x: scroll;
  }
  .list-completed .list-doctor-Com .list-doctor .header-doc,
  .list-completed .list-doctor-Com .list-doctor .box {
    width: 686px;
  }
}

/* Start Review Pop UP */

.review-up .r-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 103;
  display: none;
}

.review-up .popup-review {
  /* width: 310px; */
  width: 430px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  z-index: 104;
  border-radius: 15px;
  /* padding: 40px 50px; */
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 8px 0px rgb(0 0 0 /10%);
  transition: var(--main-transition);
}
/* event */
.active .r-overlay {
  display: block;
}
.active .popup-review {
  transition: all var(--main-transition) ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/*  */
.review-up .popup-review .pop-head {
  display: flex;
  gap: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--second-color);
}
.review-up .popup-review .pop-head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.review-up .popup-review .pop-head .text {
  text-align: left;
}
.review-up .popup-review .pop-head .text h2 {
  color: var(--second-color);
  margin-bottom: 10px;
}

@media (width<=767px) {
  .review-up .popup-review {
    width: 330px;
    padding: 25px 20px;
  }
  .review-up .popup-review .pop-head {
    gap: 15px;
  }
  .review-up .popup-review .pop-head img {
    width: 90px;
    height: 90px;
  }
  .review-up .popup-review .pop-head .text h2 {
    font-size: 18px;
  }
}
.review-up .popup-review .pop-head .text span {
  color: var(--main-color);
  font-size: 17px;
}
.review-up .popup-review .def {
  font-size: 17px;
  font-weight: bold;
  color: var(--second-color);
  margin-top: 20px;
}
.review-up .popup-review .stars {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  font-size: 30px;
}
.review-up .popup-review .stars i {
  font-weight: 200;
  color: #ffc107;
  cursor: pointer;
}
.review-up .popup-review .current-rate {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.review-up .popup-review .buttons {
  margin: auto;
}
.review-up .popup-review .buttons button:first-child {
  position: absolute;
  top: -17px;
  right: -19px;
  border: none;
  background-color: transparent;
}
.review-up .popup-review .buttons button:first-child i {
  color: aliceblue;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-transition);
}
.review-up .popup-review .buttons button:first-child i:hover {
  color: #e4e6eb;
}

.review-up .popup-review .buttons button:last-child {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 80px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  transition: var(--main-transition);
}

.review-up .popup-review .buttons button:last-child:hover {
  box-shadow: 0 0 7px 1px var(--main-color);
}
/* End Review Review-uP   */

/* End completed of Doctor  */
